@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(192, 210, 241);
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: white;
  width: 870px;
  padding: 30px;
}
.banner-title {
  color: slateblue;
  font-size: 24px;
  padding-bottom: 30px;
}

.top-players {
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player img {
  width: 56px;
}

.player {
  display: flex;
  align-items: center;
}
.player h3 {
  padding-left: 16px;
}
hr {
  border: 1px solid rgb(163, 152, 240);
  margin: 80px;
}

/* -------------------------------------------------- */
/* .top-blogs {
  margin-top: 20px; 
} */
.banner-title-2 {
  color: slateblue;
  font-size: 24px;
  /* padding-top: 30px; */
  padding-bottom: 30px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 140px;
}
.blog-info {
  margin-top: 30px;
  margin-left: 16px;
}
.blog-info span {
  color: rgb(168, 161, 161);
}
.blog-info a {
  text-decoration: none;
  color: slateblue;
}
/* ----------------------------------- */
.container-1 {
  margin-top: 20px;
  background-color: white;
  width: 870px;
  padding: 30px;
}
.course-title-1 {
  padding-bottom: 30px;
  color: slateblue;
}
.course-title {
  margin-left: 5px;
}
/* .course-banner {
} */

.courses {
  display: flex;
  justify-content: center;
}
.course {
  margin-left: 50px;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.course-author {
  margin-left: 5px;
}
.filled,
.unfilled {
  font-size: 14px;
  color: #ffc014;
}
.course span {
  font-size: 14px;
  margin-left: 5px;
}
.time {
  font-size: 14px;
  margin-left: 10px;
  color: crimson;
  padding: 2px 5px;
  border-radius: 15px;
  background: rgb(241, 160, 174);
}
